<main id="inap">
    <head>
        <h1 class="logo">FireGuard</h1>
    </head>
    {{> nav }}
    <table class="approved">
        <thead>
            <th>Request ID</th>
            <th>Time Created</th>
            {{!-- <th> Put Out</th> --}}
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Response Team</th>
        </thead>
        <tbody>
            {{#each data.requests}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.created_at}}</td>
                {{!-- <td>{{this.put_out}}</td> --}}
                <td>{{this.longitude}}</td>
                <td>{{this.latitude}}</td>
                <td>{{this.rteam.name}}</td>
            </tr>
            {{/each}}
        </tbody>
        
    </table>
</main>