<main id="inap">
    <head>
        <h1 class="logo">FireGuard</h1>
    </head>
    {{> nav }}
    <table class="history">
        <thead>
            <th>Request ID</th>
            <th>Time Created</th>
            <th>Put Out</th>
            <th>Longitude</th>
            <th>Latitude</th>
        </thead>
        <tbody>
            {{#each data.requests}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.created_at}}</td>
                <td>{{this.put_out}}</td>
                <td>{{this.longitude}}</td>
                <td>{{this.latitude}}</td>
            </tr>
            {{/each}}
        </tbody>
        
    </table>
</main>