<main id="inap">

    <head>
        <h1 class="logo">FireGuard</h1>
    </head>
    {{> nav }}
    <div class="metrics">
        <div class="cards top">
            <header>Incoming Emergencies</header>
            <div>
                <h6>TODAY</h6>
                <h1>{{ data.incomingRequestCount }}</h1>
            </div>
        </div>
        <div class="cards top">
            <header>Approved Emergencies</header>
            <div>
                <h6>TODAY</h6>
                <h1>{{data.approvedRequestCount}}</h1>
            </div>
        </div>

        <div class="cards">
            <header>Average Response Time</header>
            <div>
                <h6>TODAY</h6>
                <h2>5.1 mins</h2>
            </div>
            <div class="middle">
                <h6>THIS WEEK</h6>
                <h2>7.3 mins</h2>
            </div>
            <div>
                <h6>ALL-TIME</h6>
                <h2>8.5 mins</h2>
            </div>
        </div>
        <div class="cards">
            <header>Response Teams</header>
            <div>
                <h6>TOTAL</h6>
                <h2>{{ data.responseTeamCount }}</h2>
            </div>
            <div class="middle">
                <h6>AVAILABLE</h6>
                <h2>{{ data.availableResponseTeamCount }}</h2>
            </div>
            <div>
                <h6>DEPLOYED</h6>
                <h2>{{data.approvedRequestCount}}</h2>
            </div>
        </div>
    </div>
</main>